#
# .gitignore
#

## BACKUP & TEMPORARY FILES ##

*~
*.bak
*.tmp


## BUILD ARTIFACTS ##

Debug/
Release/
x64/
**/Debug/
**/Release/
**/x64/
*.o
*.opendb
*.obj
*.sdf
*.log
*.zip
*.exe
*.user
*.VC.db
.vs/
**/.vs/
.vscode/
**/.vscode/
DGIdGateway/DGIdGateway
YSFGateway/YSFGateway
YSFParrot/YSFParrot
YSFReflector/YSFReflector
GitVersion.h
**/GitVersion.h


## CMAKE ##

build/
build-*/
**/build/
**/build-*/
